.imgFile {
	width: 150px;
	display: inline-block;
	margin-right: 20px;
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.5);
}

.fileInfo {
	display: inline-block;
	text-align: left;
	vertical-align: top;
	list-style-type: none;
	margin: 0px;
	margin-left: -20px;
}

.fileBlock, .commentsBlock, .newCommentBlock {
	display: inline-block;
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
	padding: 20px;
	margin-bottom: 40px;
	width: 50%;
}

.commentsBlock, .newCommentBlock  {
	width: 50%;
}

.newCommentBlock {
	text-align: left;
}

.uploadButton {
	display: block;
	width: 100px;
	padding: 10px;
	background-color: rgb(240,240,240);
	text-decoration: none;
	color: black;
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.5);
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
}

.comment {
	display: block;
	border-top: 1px solid grey;
	padding: 0px;
	padding-left: -30px;
	text-align: left;
	margin-left: 25px;
}

.comment a {
	display: block;
	text-align: right;
	margin-bottom: 10px;
	margin-right: 2px;
	font-size: 12px;
	cursor: pointer;
}

.commentsBlock .comment:first-child {
	border-top: none;
}

.comment p {
	padding: 0px;
	margin: 5px;
}

.comment h5 {
	margin: 5px;
	font-weight: normal;
	font-size: 11px;
}

.newCommentBlock textarea {
	display: block;
	padding: 10px;
	width: 97%;
	height: 80px;
	resize: none;
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.5);
	border: none;
}

.newCommentBlock input {
	width: auto;
	display: inline-block;
	margin: 0px;
	padding: 5px 30px;
	margin-top: 10px;
	float: right;
}

button {
	border: none;
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.5);
	width: auto;
	display: block;
	margin: 0px;
	padding: 5px 30px;
	margin-top: 10px;
	/*float: right;*/
	margin-right: auto;
	margin-left: auto;
}

.commentPopup {
	position: fixed;
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.5);
	background-color: white;
	padding: 20px;
}

.replyToCommentBlock input {
	display: inline-block;
	width: calc(100% - 125px);
	height: 30px;
	padding: 10px;
}

.replyToCommentBlock button {
	width: 100px;
	padding: 5px 10px;
	margin: 0px;
	display: inline-block;
}

.replyToCommentBlock {
	padding: 0px;
	margin: 0px;
	margin-bottom: 5px;
	width: 100%;
}
